<div class="container">
  <% @goals.each do |goal| %>
    <% if logged_in? && goal.user == current_user %>
      <div class="row justify-content-md-center">
        <div class="col-8 mt-4">
          <div class="card text-center shadow mb-5 bg-white rounded">
            <div class="card-header font-italic">
              <% if goal.user %>
                by <%= link_to goal.user.username, user_path(goal.user) %>
              <% end %>
            </div>
            <div class="card-body">
              <h5 class="card-title"><%= link_to goal.name, goal_path(goal) %></h5>
              <p class="card-text"><%= goal.sport %></p>
              <div class="btn-group" role="group">
                <% if logged_in? && goal.user == current_user %>
                  <%= link_to "View", goal_path(goal), class: "btn btn-outline-primary" %>
                  <%= link_to "Edit", edit_goal_path(goal), class: "btn btn-outline-secondary" %>
                  <%= link_to "Delete", goal_path(goal), class: "btn btn-outline-danger", data: { turbo_method: :delete, confirm: "Are you sure?" } %>
                <% end %>
              </div>
            </div>
            <div class="card-footer text-muted">
              <small>
                Created <%= time_ago_in_words(goal.created_at) %> ago, edited <%= time_ago_in_words(goal.updated_at) %> ago
              </small>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
