<h1 class="text-center mt-4">All Goals</h1>

<div class="flickr_pagination">
  <div class="page_info">
    <%= page_entries_info @goals %>
  </div>
  <%= will_paginate @goals, :container => false %>
</div>

<%= render 'goal' %>

<div class="flickr_pagination mb-4">
  <div class="page_info">
    <%= page_entries_info @goals %>
  </div>
  <%= will_paginate @goals, :container => false %>
</div>